
body{
    width: auto;
    background-image: url(img/bg-01.jpg);
    background-size:100%;
}
.reg{
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    width: 400px;
    height: 700px;
    background-color: white;
    border-radius: 2%;
}
.log{
text-align: center;
display: block;
font-family: Poppins-Bold;
font-size: 20px;
color: #333333;
line-height: 1.2;
padding-top: 7%;
}

.user{
    height: 1px;
    font-size: 12px;
    padding-left: 15%;
    padding-top: 5%; 
    color: rgb(66, 66, 66);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.userN
{
width: 280px;
height: 40px;
    margin-left: 15%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #cbcbcb;
    outline: none;
margin-bottom: 10px;
}
.userNa
{
    color: black; 
}
.pass{
    height: 1px;
    padding-left: 15%;
    padding-top: 1%;
    color: rgb(66, 66, 66);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
}
.passw
{
    color: black; 
}
.password
{
width: 280px;
height: 40px;
    margin-left: 15%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #cbcbcb;
    outline: none;
margin-bottom: 10px;
}
.forgot{
    height: 1px;
    font-size: 12px;
    text-decoration: none;
    padding-left:  63%;
}
.log1 button{
    font-size: 20px;
    width: 70%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(90deg, rgba(0,219,255,1) 0%, rgba(132,0,255,1) 50%, rgba(255,0,202,1) 100%);
    border-radius: 1px white;
}
.log1{
    color: white;
    width: 100%;
    margin-left: 60px;
}
.Second{
margin-top: 40px;
    text-align: center;
}
.Second a{
    text-decoration: none;
    color: #cbcbcb;
}
.Logo{
    width: 36%;
    margin-left: auto;
    margin-right: auto;
}
.Logo a{
   margin-left: auto;
   margin-right: auto;
}
.Second1{
    margin-top: 100px;
        text-align: center;
    }
    .Second1 a{
        text-decoration: none;
        color: #cbcbcb;
    }
